Flows/flow
[{"id":"3415f943.00af56","type":"tab","label":"Flow 1"},{"id":"2e4e11d0.b913ce","type":"alexa-local","z":"3415f943.00af56","devicename":"improving lamp","inputtrigger":false,"x":137,"y":118,"wires":[["a0ab437c.159c1"]]},{"id":"a0ab437c.159c1","type":"debug","z":"3415f943.00af56","name":"","active":true,"console":"false","complete":"false","x":342,"y":57,"wires":[]},{"id":"6f65ca34.eb8264","type":"inject","z":"3415f943.00af56","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":118,"y":212,"wires":[["ad8c4189.75b0d"]]},{"id":"ad8c4189.75b0d","type":"arduino out","z":"3415f943.00af56","name":"","pin":"9","state":"OUTPUT","arduino":"e2ba9d0b.dbfd8","x":353,"y":230,"wires":[]},{"id":"eecb9973.68dab8","type":"inject","z":"3415f943.00af56","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":107,"y":265,"wires":[["ad8c4189.75b0d"]]},{"id":"81d14f0c.e1165","type":"tcp in","z":"3415f943.00af56","name":"","server":"client","host":"localhost","port":"1890","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":117,"y":331,"wires":[["40d5883a.6eaa98"]]},{"id":"40d5883a.6eaa98","type":"function","z":"3415f943.00af56","name":"","func":"msg.payload = msg.payload.toString('UTF-8');\nreturn msg;","outputs":1,"noerr":0,"x":319.5,"y":311,"wires":[["c9f96f89.f7252"]]},{"id":"c9f96f89.f7252","type":"debug","z":"3415f943.00af56","name":"","active":true,"console":"false","complete":"false","x":351,"y":432,"wires":[]},{"id":"e2ba9d0b.dbfd8","type":"arduino-board","z":"","device":"COM3"}]