Flows/flows.json
[{"id":"83c0cfed.57364","type":"tab","label":"Flow 44","disabled":false,"info":""},{"id":"d1dc3360.3c38a","type":"tcp in","z":"83c0cfed.57364","name":"","server":"client","host":"localhost","port":"1890","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":115.00003051757812,"y":231,"wires":[["9c06d2aa.eadbe"]]},{"id":"9c06d2aa.eadbe","type":"function","z":"83c0cfed.57364","name":"Convert to json array","func":"raw = msg.payload.toString('UTF-8')\nj = JSON.parse(raw);\nvar msg1 = { payload: raw };\nvar msg2 = { payload: j };\n\n\nif (raw.length > 20)\n{\n    X = msg2.payload.targets[0].x;\n    Y = msg2.payload.targets[0].y;\n    Z = msg2.payload.targets[0].z;\n    global.set(\"X\", X);\n    global.set(\"Y\", Y);\n    global.set(\"Z\", Z);\n    var msg3 = { payload: X };\n    var msg4 = { payload: Y };\n    var msg5 = { payload: Z };   \n}\n\nreturn [  msg1, msg2, msg3, msg4, msg5];  \n\n","outputs":"5","noerr":0,"x":345.0000305175781,"y":231,"wires":[["2092d4ba.515c1c"],["f6e276eb.f87f88"],["3a414e09.c61e82"],["b7060977.273198"],["78a73a2b.dfa864"]]},{"id":"2092d4ba.515c1c","type":"debug","z":"83c0cfed.57364","name":"Raw String","active":false,"console":"false","complete":"payload","x":595.0000610351562,"y":138,"wires":[]},{"id":"78a73a2b.dfa864","type":"debug","z":"83c0cfed.57364","name":"Z","active":false,"console":"false","complete":"payload","x":612.0000305175781,"y":298,"wires":[]},{"id":"b7060977.273198","type":"debug","z":"83c0cfed.57364","name":"Y","active":true,"console":"false","complete":"payload","x":612.0000305175781,"y":263,"wires":[]},{"id":"3a414e09.c61e82","type":"debug","z":"83c0cfed.57364","name":"X","active":false,"console":"false","complete":"payload","x":612.0000305175781,"y":227,"wires":[]},{"id":"f6e276eb.f87f88","type":"debug","z":"83c0cfed.57364","name":"JSON Array","active":false,"console":"false","complete":"payload","x":593.0000305175781,"y":190,"wires":[]},{"id":"ab824058.ca3af","type":"debug","z":"83c0cfed.57364","name":"","active":false,"console":"false","complete":"payload","x":335.0000305175781,"y":466,"wires":[]},{"id":"c27c1265.646f1","type":"alexa-local","z":"83c0cfed.57364","devicename":"Light","inputtrigger":false,"x":86.00003051757812,"y":518,"wires":[["ab824058.ca3af","e2ef5778.48af88","7200e7d9.5b8688"]]},{"id":"e2ef5778.48af88","type":"function","z":"83c0cfed.57364","name":"Light A","func":"var X = global.get(\"X\");\nvar Y = global.get(\"Y\");\nvar Z = global.get(\"Z\");\n\nvar msg2 = { payload: Y };\n\nif (Y > 0)\n{\n    return [  msg, msg2];  \n}\n\n\n\n\n\n","outputs":"2","noerr":0,"x":325.0000305175781,"y":526,"wires":[["4086a414.81386c","56a886b.f06e378"],["2d9046bd.851a3a"]]},{"id":"43f64244.894acc","type":"inject","z":"83c0cfed.57364","name":"Print saved XYZ","topic":"","payload":"on","payloadType":"str","repeat":"","crontab":"","once":false,"x":131.00003051757812,"y":337,"wires":[["abb7950f.1d98f8"]]},{"id":"7200e7d9.5b8688","type":"function","z":"83c0cfed.57364","name":"Light B","func":"var X = global.get(\"X\");\nvar Y = global.get(\"Y\");\nvar Z = global.get(\"Z\");\n\nvar msg2 = { payload: Y };\n\nif (Y < 0)\n{\n    return [  msg, msg2];  \n}\n\n\n\n\n","outputs":"2","noerr":0,"x":325.0000305175781,"y":614,"wires":[["2a8964bf.58b65c","7b703d98.1e2fc4"],["2d9046bd.851a3a"]]},{"id":"4086a414.81386c","type":"arduino out","z":"83c0cfed.57364","name":"","pin":"13","state":"OUTPUT","arduino":"e2ba9d0b.dbfd8","x":565.0000305175781,"y":540,"wires":[]},{"id":"7b703d98.1e2fc4","type":"arduino out","z":"83c0cfed.57364","name":"","pin":"9","state":"OUTPUT","arduino":"e2ba9d0b.dbfd8","x":555.0000305175781,"y":668,"wires":[]},{"id":"56a886b.f06e378","type":"debug","z":"83c0cfed.57364","name":"","active":true,"console":"false","complete":"payload","x":575.0000305175781,"y":506,"wires":[]},{"id":"2a8964bf.58b65c","type":"debug","z":"83c0cfed.57364","name":"","active":true,"console":"false","complete":"payload","x":575.0000305175781,"y":634,"wires":[]},{"id":"abb7950f.1d98f8","type":"function","z":"83c0cfed.57364","name":"","func":"var X = global.get(\"X\");\nvar Y = global.get(\"Y\");\nvar Z = global.get(\"Z\");\n\nstr = \"X=\" + X + \"  Y=\" + Y + \"  Z=\" + Z\nmsg.payload = str\nreturn msg;  \n\n","outputs":1,"noerr":0,"x":332.0000305175781,"y":337,"wires":[["ccbe968f.19f028"]]},{"id":"ccbe968f.19f028","type":"debug","z":"83c0cfed.57364","name":"","active":true,"console":"false","complete":"false","x":592.0000305175781,"y":337,"wires":[]},{"id":"2d9046bd.851a3a","type":"debug","z":"83c0cfed.57364","name":"Y","active":true,"console":"false","complete":"payload","x":555.0000305175781,"y":594,"wires":[]},{"id":"56ea443.c9b9fbc","type":"comment","z":"83c0cfed.57364","name":"Get and save Walabot object data","info":"","x":165.00003051757812,"y":171,"wires":[]},{"id":"182f5b79.2f0d55","type":"comment","z":"83c0cfed.57364","name":"Handle Alexa commands","info":"","x":135.00003051757812,"y":426,"wires":[]},{"id":"95b35524.b180f8","type":"alexa-local","z":"83c0cfed.57364","devicename":"Other Light","inputtrigger":false,"x":106.00003051757812,"y":675.0000610351562,"wires":[["4086a414.81386c","7b703d98.1e2fc4"]]},{"id":"e7b13990.053f08","type":"inject","z":"83c0cfed.57364","name":"Start Walabot Service","topic":"","payload":"C:\\Users\\lattepanda\\Documents\\GitHub\\smart3DSensorForAlexa\\Walabot\\walabot.py","payloadType":"str","repeat":"","crontab":"","once":false,"x":172,"y":79,"wires":[["6b3b74a0.357d5c"]]},{"id":"311fda26.7e4aa6","type":"exec","z":"83c0cfed.57364","command":"start","addpay":true,"append":"1890","useSpawn":"false","timer":"","oldrc":false,"name":"start walabot.py","x":641,"y":49,"wires":[["668e51a0.03261"],["668e51a0.03261"],[]]},{"id":"da1dc9de.eb3398","type":"comment","z":"83c0cfed.57364","name":"Handle Walabot Service","info":"Set the location of Walabot Python code","x":141,"y":27,"wires":[]},{"id":"668e51a0.03261","type":"debug","z":"83c0cfed.57364","name":"","active":true,"console":"false","complete":"false","x":856,"y":62,"wires":[]},{"id":"6b3b74a0.357d5c","type":"function","z":"83c0cfed.57364","name":"","func":"msg.payload = \"python \" + msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":406,"y":58,"wires":[["311fda26.7e4aa6"]]},{"id":"e2ba9d0b.dbfd8","type":"arduino-board","z":"","device":"COM3"}]